<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bugs4Mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BugsWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F3D6A2C1E0F76EC00571F6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F54D1301E0D7B8100FEC2F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F54D13F1E0D7B8100FEC2F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F54D14A1E0D7B8100FEC2F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
